.user {
    background-color: lightblue;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.user-anim-enter {
    opacity: 0;
    max-height: 0px;
    margin-bottom: 0px;
}

.user-anim-enter-active {
    opacity: 1;
    max-height: 40px;
    margin-bottom: 10px;
    transition: all 1000ms linear;
}

.user-anim-exit {
    opacity: 1;
    max-height: 40px;
    margin-bottom: 10px;
}

.user-anim-exit-active {
    opacity: 0;
    max-height: 0px;
    margin-bottom: 0px;
    transition: all 1000ms linear;
}

.test {
    border: 1px solid green;
    opacity: 1;
    transform: scale(1);
    height: 50px;
}
